<template>
  <div class="loading">
    <svg width="389" height="389" viewBox="0 0 389 389" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
          d="M30 185.828C30 290.624 115.147 376 219.934 376V366.107C118.441 366.107 43.2967 283.662 43.2967 185.828C43.2967 107.536 107.584 29.9775 202.368 29.9775C288.979 29.9775 338.75 100.574 338.75 170.072C338.75 231.875 278.122 282.074 216.397 282.074C161.746 282.074 117.343 237.493 117.343 182.775C117.343 134.407 156.623 94.9559 205.052 94.9559C247.747 94.9559 282.392 129.766 282.392 172.393H313.133C313.133 112.666 264.582 64.0545 204.93 64.0545C139.667 64.0545 86.4801 117.308 86.4801 182.652C86.4801 254.349 144.79 312.731 216.397 312.731C295.079 312.731 359 248.73 359 169.95C359 83.3526 288.613 13 202.246 13C107.34 13.1221 30 90.681 30 185.828Z"
          fill="#FF7F1F"/>
    </svg>
  </div>
</template>

<style scoped lang="scss">
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;

  svg {
    scale: 0.4;
    animation: rotate 1s linear infinite;
    transform-origin: calc(50% + 18px) calc(50% + -24px);

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
</style>
<script setup lang="ts">
</script>