<template>
  <nuxt-link to="/" class="logo">
    <svg width="799" height="298" viewBox="0 0 799 298" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M529.3 141.8C529.3 227.6 599.1 297.5 685 297.5V289.4C601.8 289.4 540.2 221.9 540.2 141.8C540.2 77.7 592.9 14.2 670.6 14.2C741.6 14.2 782.4 72 782.4 128.9C782.4 179.5 732.7 220.6 682.1 220.6C637.3 220.6 600.9 184.1 600.9 139.3C600.9 99.7 633.1 67.4 672.8 67.4C707.8 67.4 736.2 95.9 736.2 130.8H761.4C761.4 81.9 721.6 42.1 672.7 42.1C619.2 42.1 575.6 85.7 575.6 139.2C575.6 197.9 623.4 245.7 682.1 245.7C746.6 245.7 799 193.3 799 128.8C799 57.9 741.3 0.299988 670.5 0.299988C592.7 0.399988 529.3 63.9 529.3 141.8Z" fill="#FF7F1F"/>
      <path d="M675.9 106.8H680.7V84.9H675.9C644.4 84.9 618.8 110.5 618.8 142C618.8 173.5 644.4 199.1 675.9 199.1H680.7V177.2H675.9C656.5 177.2 640.7 161.4 640.7 142C640.7 122.6 656.5 106.8 675.9 106.8Z" fill="white"/>
      <path d="M93.3 206.6C88.2 209.3 76 211.5 63.6 211.5C22 211.5 0.599976 181.1 0.599976 141C0.599976 100.9 22 70.5 62.9 70.5C76.8 70.5 88.2 74.2 93.4 76.2L92 98.8C86.9 96.2 78.8 91.3 66.1 91.3C45.3 91.3 27.4 105.4 27.4 141C27.4 176.6 45.3 190.7 66.1 190.7C78.3 190.7 86.3 187.8 92 183.6L93.3 206.6Z" fill="white"/>
      <path d="M162.4 154.5L122 72.4H149.1L175.8 127.2L200.9 72.4H228L187.5 155.1V209.5H162.4V154.5Z" fill="white"/>
      <path d="M254.8 183C259.7 186.1 270.5 191.4 283.9 191.4C294.9 191.4 304.7 185.3 304.7 171.6C304.7 161.8 299 157.5 286.8 150.8L274 143.7C260.5 136.2 251.6 125.4 251.6 107.8C251.6 83.2 271.8 70.5 294.8 70.5C309.3 70.5 319.6 74.2 323.5 75.4L322.3 96.4C316.2 94 308.2 90.5 296.6 90.5C284 90.5 277.6 97.2 277.6 106.6C277.6 116.8 284.5 120.7 292.1 125.1L306.8 133.3C322.9 142.3 330.6 151 330.6 170.2C330.6 198.1 310.8 211.4 284.6 211.4C270.8 211.4 260.2 209.4 253.4 205.3L254.8 183Z" fill="white"/>
      <path d="M394.8 141C394.8 103.3 407.6 89.7 423.5 89.7C439.4 89.7 452.2 103.3 452.2 141C452.2 178.7 439.4 192.3 423.5 192.3C407.6 192.2 394.8 178.7 394.8 141ZM368.9 141C368.9 190.3 395 211.5 423.5 211.5C452 211.5 478.1 190.3 478.1 141C478.1 91.7 452 70.5 423.5 70.5C395 70.5 368.9 91.7 368.9 141Z" fill="white"/>
    </svg>
  </nuxt-link>
</template>

<style scoped lang="scss">
svg {
  height: 38px;
  width: auto;
  object-fit: contain;
}
</style>
<script setup lang="ts">
</script>