<template>
  <h1><s>Cyso</s> Bimma Frontend Challenge</h1>
  <p>Welcome to the Cyso Frontend Challenge, you can find the documentation about this challenge as a README file in the project folder.</p>

</template>