<script setup lang="ts">

import Logo from "~/components/Common/Logo.vue";
</script>

<template>
  <div class="sidebar">
    <Logo class="logo"/>
  </div>
</template>

<style lang="scss" scoped>
.sidebar {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: $gutter;
  border-radius: $border-radius;
  min-width: $sidebar-width;
  height: auto;
  background: $color-primary;

  @media screen and (max-width: $md-width) {
    width: 100%;
  }
}
</style>