label {
  //font-weight: bold;
  font-weight: 300;
  font-size: em(14px);
  color: rgba($text-color-primary, 0.75); // For some reason yet another font color
}

input, textarea, select, text {
  border: 1px solid $border-color;
  padding: calc($gutter/6) calc($gutter/4);
  border-radius: $border-radius;
  color: rgba($text-color-primary, 0.75);

  &::placeholder {
    font-weight: 300;
    color: $text-color-secondary;
  }
}