// Appear
.card-fall-enter-active {
  transition: all 0.2s;
}
.card-fall-enter-from {
  transform: translateY(-50px);
  opacity: 0;
}

// Leave
.card-fall-leave-active {
  transition-delay: 0s !important;
  transition-duration: 0s;
  opacity: 0;
  display: none;
}