html {
  font-size: $font-size-base;
  -webkit-text-size-adjust: 100%;

  @media screen and (max-width: $md-width) {
    font-size: $font-size-md;
  }
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $text-color-primary;
}

form, select, input, text, textarea, button {
  font-family: $font-family-base;
}

p {
  font-family: $font-family-base;
  margin-top: 0;
  margin-bottom: $gutter;
  color: $text-color-primary
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-headings;
  font-weight: 700;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  margin: 0 0 $gutter;
  color: $text-color-primary;

  small {
    font-weight: normal;
  }
}