// Size
$md-width: 1050px;
$sidebar-width: 200px;
$gutter: 20px;
$border-radius: 5px;

// Colors
$bg-primary: #F6F9FF;
$bg-secondary: #F8F8F8;

$color-primary: #1D3044;
$color-secondary: #EB8115;

$text-color-primary: $color-primary;
$text-color-secondary: #ccc;
$text-color-tertiary: #A4A4A4;
$disabled-color: #ECECEC;
$border-color: $disabled-color;

$color-success: #64C88C;
$color-error: #EC2B32;
$color-warning: #EBD281;

$enable-dark-mode: false;

// Fonts
$font-size-base: 14px;
$font-size-md: 18px;
$font-family-base: "Roboto", sans-serif;
$font-family-headings: $font-family-base;

// Others
$box-shadow: 1px 1px 4px 0 rgba(30,30,30,0.16);


// Functions
@function em($pixels, $context: $font-size-base) {
  @return calc($pixels / $context) * 1em;
}

@function rem($pixels, $context: $font-size-base) {
  @return calc($pixels / $context) * 1rem;
}

@mixin fixed-ar($size) {
  min-width: $size;
  max-width: $size;
  min-height: $size;
  max-height: $size;
}
