<script setup lang="ts">
import ContactCard from "~/components/Contacts/ContactCard/ContactCard.vue";
import {ref, onMounted} from 'vue';
import {useContactStore} from '~/store/contactStore';
import Search from "~/components/Contacts/Search.vue";
import Loading from "~/components/Common/Loading.vue";
import PerPage from "~/components/Contacts/PerPage.vue";
import Sort from "~/components/Contacts/Sort.vue";
import Pagination from "~/components/Contacts/Pagination.vue";

defineProps({
  filters: Boolean,
})

const contactStore = useContactStore();
contactStore.fetchContacts();

const contacts = computed(() => contactStore.paginatedContacts || []);
const count = computed(() => contactStore.count || 0);
const delay = 50;
const mounted = ref(false)

onMounted(() => {
  mounted.value = true;
});

onUnmounted(() => {
  mounted.value = false;
})

</script>

<template>
  <div class="container">
    <div class="contacts-header">
      <h1 v-text="`${count} Contactpersonen`" class="contacts-header-title"/>
      <template v-if="filters">
        <Search />
        <PerPage />
        <Sort />
      </template>
    </div>

    <Loading v-if="contactStore.loading"/>

    <transition-group name="card-fall" tag="div" class="contacts-body" mode="out-in">
      <ContactCard
          v-if="mounted && !contactStore.loading && (contacts || []).length > 0"
          v-for="(contact, index) in contacts"
          :key="contact.id"
          :id="contact.id"
          :firstname="contact.firstname"
          :lastname="contact.lastname"
          :email="contact.email"
          :phone="contact.phone"
          :job="''"
          :style="{ 'transition-delay': `${index * delay}ms` }"
          :image="contact.image"
      />
      <Pagination v-if="mounted && (contacts || []).length > 0"
                  :style="{ 'transition-delay': `${(contacts.length + 1) * delay}ms` }" />
    </transition-group>
  </div>
</template>

<style scoped lang="scss">
.container {
  display: flex;
  flex-flow: column nowrap;
  gap: $gutter;

  .contacts-header {
    display: flex;
    flex-flow: row nowrap;
    gap: $gutter;
    align-items: center;
    align-content: center;

    @media screen and (max-width: $md-width) {
      flex-wrap: wrap;
      border-bottom: 1px solid $border-color;
      padding-bottom: $gutter;
      justify-content: flex-start;
    }

    &-title {
      margin: 0;

      @media screen and (max-width: $md-width) {
        width: 100%;
      }
    }
  }

  :deep(.contacts-body) {
    display: flex;
    flex-flow: row wrap;
    gap: $gutter;

    @media screen and (max-width: $md-width) {
      justify-content: center;
    }
  }
}
</style>