<script setup lang="ts">
import Paginate from "vuejs-paginate-next";
import {computed} from "vue";
import {useContactStore} from "~/store/contactStore";

const contactStore = useContactStore();

const page = computed({
  get: () => contactStore.activePage,
  set: (value) => (contactStore.activePage = value),
});

const contactsCount = computed(() => contactStore.computedContacts.length || 0);
const perPage = computed(() => Math.ceil(contactsCount.value / contactStore.perPage));

</script>

<template>
  <div class="pagination">
    <paginate
        :page-count="perPage"
        :click-handler="p => page = p"
        :prev-text="'Vorige'"
        :next-text="'Volgende'"
        :container-class="'pagination-container'"
    >
    </paginate>
  </div>
</template>

<style scoped lang="scss">
.pagination {
  margin-top: $gutter;
  width: 100%;

  :deep(.pagination-container) {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: $gutter;

    .page-item {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: calc($gutter / 5) calc($gutter / 4);
        box-sizing: content-box;

        border: 1px solid $border-color;
        border-radius: $border-radius;
        background-color: white;
        transition: all 0.2s ease;
        @include fixed-ar(20px);

        &.page-link {
          max-width: 100%;
        }
      }

      &.disabled {
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;
      }

      &.active a {
        background-color: $color-primary;
        color: white;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
</style>