<script setup lang="ts">
import {computed} from 'vue';
import {useContactStore} from "~/store/contactStore";
const contactStore = useContactStore();

const perPage = computed({
  get: () => contactStore.perPage,
  set: (value) => {
    contactStore.activePage = 1;
    contactStore.perPage = value
  },
});

</script>

<template>
  <label>
    <span>Per pagina</span>
    <select type="perPage" v-model="perPage" name="perPage">
      <option :value="12" :selected="perPage === 12">12</option>
      <option :value="25" :selected="perPage === 25">25</option>
      <option :value="50" :selected="perPage === 50">50</option>
      <option :value="100" :selected="perPage === 100">100</option>
    </select>
  </label>
</template>

<style scoped lang="scss">
label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  span {
    display: inline-block;
    min-width: 75px;
  }
}
</style>