<script setup lang="ts">
import {computed} from 'vue';
import {useContactStore} from "~/store/contactStore";

const contactStore = useContactStore();

const search = computed({
  get: () => contactStore.search,
  set: (value) => {
    contactStore.activePage = 1
    contactStore.search = value
  },
});


</script>

<template>
  <label>
    <fa-icon icon="filter"/>
    <input type="search" v-model="search" name="search" placeholder="Filter"/>
  </label>
</template>

<style scoped lang="scss">
label {
  position: relative;
  flex: 1 auto;
  margin-left: $gutter*2;

  @media screen and (max-width: $md-width) {
    margin-left: 0;
    flex: 0 auto;
  }

  svg {
    position: absolute;
    left: calc($gutter / 4);
    top: 0;
    bottom: 0;
    margin: auto;
    @include fixed-ar(13px);
  }

  input {
    padding-left: calc(13px + $gutter / 2);
  }
}
</style>