<script setup lang="ts">
import {computed, ref} from 'vue';
import {useContactStore} from "~/store/contactStore";

const contactStore = useContactStore();

const sortOptions = ref(contactStore.sortOptions);
const sort = computed({
  get: () => contactStore.sort,
  set: (value) => {
    contactStore.activePage = 1
    contactStore.sort = value
  },
});


</script>

<template>
  <label>
    <fa-icon icon="sort"/>
    <select type="perPage" v-model="sort" name="perPage">
      <option disabled v-if="!sort" value="">Sortering</option>
      <option v-for="sortOption in sortOptions"
              :value="sortOption.value"
              :selected="sort === sortOption.value"
              v-text="sortOption.label"
      />
    </select>
  </label>
</template>

<style scoped lang="scss">
label {
  position: relative;

  svg {
    position: absolute;
    left: calc($gutter/4);
    top: 0; bottom: 0;
    margin: auto;
    @include fixed-ar(13px);
  }

  select {
    padding-left: calc(13px + $gutter / 2);
  }
}
</style>