<script setup lang="ts">
defineProps({
  back: Boolean,
})
</script>

<template>
  <div class="page">
    <sidebar/>
    <div class="main">
      <RouterLink class="back" to="/" v-if="back" v-text="'Terug'"/>
      <slot/>
    </div>
  </div>
</template>

<style lang="scss">
.page {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  align-content: flex-start;
  gap: $gutter;
  padding: $gutter;
  min-height: 100vh;
  width: 100%;

  @media screen and (max-width: $md-width){
    flex-flow: row wrap;
  }

  .back {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: calc($gutter / 5) calc($gutter / 4);
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background-color: $color-primary;
    margin-bottom: calc($gutter/2);
  }

  .main {
    max-width: $md-width;
    flex: 1 auto;
  }
}
</style>
