<script setup lang="ts">
import {ContactStatusInterface} from "~/types/contact";
import {useContactStore} from "~/store/contactStore";

defineProps({
  id: {
    required: true,
    type: Number,
  },
  status: {
    required: true,
    type: Object as () => ContactStatusInterface,
  },
})

const contactStore = useContactStore();

const deleteContact = (id: number) => {
  contactStore.deleteContactById(id)
}

</script>

<template>
  <div class="card-header">
    <div class="contact-status" :class="status.value">
      {{status.label || '-'}}
    </div>
    <fa-icon icon="ellipsis" class="card-menu-icon" />
    <div class="card-menu" :class="{active: false}">
      <button @click.stop="deleteContact(id)">
        <fa-icon icon="trash" />
        Delete</button>
    </div>
  </div>
</template>

<style scoped lang="scss">
  .card-header {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: calc($gutter / 2);

    .contact-status {
      border: 1px solid $border-color;
      color: darken($border-color, 20%);
      padding: calc($gutter / 5) calc($gutter / 2);
      border-radius: $border-radius;
      font-size: em(10px);

      &.active {
        border-color: $color-success;
        color: darken($color-success, 20%);
      }

      &.inactive {
        border-color: $color-error;
        color: darken($color-error, 20%);
      }

      &.pending {
        border-color: $color-warning;
        color: darken($color-warning, 20%);
      }
    }

    .card-menu-icon {
      @include fixed-ar(20px);
      padding: 4px;

      :deep(path) {
        fill: $text-color-tertiary;
      }
    }

    .card-menu {
      $box-size: 8px;
      position: absolute;
      right: -($box-size * 1.5);
      top: $gutter + $box-size;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      gap: calc($gutter / 2);
      padding: calc($gutter / 2);
      background-color: white;
      box-shadow: $box-shadow;
      border: 1px solid $border-color;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-$gutter);
      transition: all .2s ease;
      transition-delay: 0.5s;

      &::before {
        content: '';
        position: absolute;
        top: -(calc($box-size/2));
        right: $box-size*2;
        transform: translateX(-50%) rotate(45deg);
        @include fixed-ar($box-size);
        background-color: white;
        border-left: 1px solid $border-color;
        border-top: 1px solid $border-color;
      }

      button, a {
        border: none;
        box-shadow: none;
        text-align: left;
        width: 100%;
        background-color: transparent;
        color: $text-color-primary;
        font-size: em(14px);
        text-decoration: none;
        padding: calc($gutter/6) calc($gutter/3);
      }
    }

    .card-menu-icon:hover + .card-menu,
    .card-menu:hover,
    .card-menu.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      transition-delay: 0s;
    }

  }
</style>