<script setup lang="ts">
const {id, image, firstname} = defineProps({
  id: Number,
  image: String,
  firstname: String,
  fullName: String,
})

const userImage = computed(() => `${image
    .replace('placeimg.com', 'loremflickr.com')
    .replace('/people', `/${firstname}`)}?random=${id}`
);

const job = computed(() => {
      const jobTitles = [
        'Software Engineer',
        'Data Analyst',
        'Product Manager',
        'Marketing Coordinator',
        'Graphic Designer',
        'Sales Representative',
        'Human Resources Specialist',
        'Financial Analyst',
        'Content Writer',
        'Operations Manager',
      ];
      const randomIndex = id % jobTitles.length;
      return jobTitles[randomIndex];
    }
);

</script>

<template>
  <div class="card-body">
    <div class="card-body-image">
      <img :width="200" :height="200" :src="userImage" :alt="fullName"/>
    </div>
    <div class="card-body-name" v-text="fullName"/>
    <div class="card-body-job" v-text="job"/>
  </div>
</template>

<style scoped lang="scss">
.card-body {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;

  &-name {
    font-size: em(18px);
    line-height: 1.35;
    font-weight: 800;
    max-width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-job {
    color: $text-color-secondary;
    max-width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-image {
    @include fixed-ar(90px);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: calc($gutter / 2);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
</style>