<script setup lang="ts">
defineProps({
  phone: String,
  email: String,
})
</script>

<template>
  <div class="card-footer">
    <a :href="`tel:${phone}`" :title="phone" class="card-footer-phone">
      <fa-icon icon="phone"/>
      <span v-text="phone"/>
    </a>
    <a :href="`mailto:${email}`" :title="email" class="card-footer-email">
      <fa-icon icon="envelope"/>
      <span v-text="email"/>
    </a>
  </div>
</template>

<style scoped lang="scss">
.card-footer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: calc($gutter / 2);
  background-color: $disabled-color;
  border-radius: $border-radius;
  transition: all 0.2s ease-in-out;
  transition-delay: 0.2s;
  text-overflow: ellipsis;
  white-space: nowrap;

  &-phone, &-email {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: $text-color-primary;
    text-decoration: none;

    svg {
      @include fixed-ar(13px);
      padding-right: calc($gutter / 2);
    }

    span {
      max-width: 130px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-clamp: 1;
    }
  }
}
</style>