<script setup lang="ts">
import CardBody from "~/components/Contacts/ContactCard/CardBody.vue";
import CardHeader from "~/components/Contacts/ContactCard/CardHeader.vue";
import CardFooter from "~/components/Contacts/ContactCard/CardFooter.vue";
const router = useRouter();
const {id, firstname, lastname, image} = defineProps({
  id: {
    required: true,
    type: Number,
  },
  firstname: String,
  lastname: String,
  phone: String,
  email: String,
  image: String,
})

const fullName = computed(() => `${firstname} ${lastname}`);
const goToContact = () => router.push(`/contacts/${id}`);

const status = computed(() => {
  if (id % 3 === 0) {
    return {value: 'active', 'label': 'Actief'};
  } else if (id % 2.5 === 0) {
    return {value: 'pending', 'label': 'Ongeverifieerd'};
  }
  return {value: 'inactive', 'label': 'Inactief'};
});

</script>

<template>
  <div class="card" @click="goToContact">
    <CardHeader
        :id="id"
        :status="status"/>
    <CardBody
        :id="id"
        :firstname="firstname"
        :image="image"
        :full-name="fullName"
    />
    <CardFooter @click.stop
      :phone="phone"
      :email="email"
    />
  </div>
</template>

<style scoped lang="scss">
.card {
  flex: 1 calc(100% / 4 - $gutter);
  max-width: max(200px, 225px, 250px);
  display: flex;
  flex-flow: column nowrap;
  gap: calc($gutter / 2);
  background-color: #fff;
  border: 1px solid $border-color;
  border-radius: $border-radius*2;
  padding: calc($gutter / 2);
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $bg-secondary;
    box-shadow: $box-shadow;
    cursor: pointer;

    .card-footer {
      background-color: white;
    }
  }
}
</style>