<script setup lang="ts">
import Page from "~/layouts/Page.vue";
import Welcome from "~/components/Introduction.vue";
</script>
<template>
  <Page>
    <Introduction v-if="false" />
    <Contacts :filters="true">

    </Contacts>
  </Page>
</template>
