<script setup lang="ts">
import Page from "~/layouts/Page.vue";
import {useContactStore} from "~/store/contactStore";
import {useRoute} from "vue-router";
import {ContactInterface} from "~/types/contact";

const route = useRoute()
const contactStore = useContactStore();
contactStore.fetchContacts();
const contactId: number = parseInt(route.params.id as string, 10);
// const contact = contactStore.getContactById(contactId) || {} as ContactInterface;
// const fetchProduct = async (productId: number) => {
//   product.value = await contactStore.getContactById(productId);
// };

const contact = computed(() => contactStore.getContactById(contactId) || null as ContactInterface);

</script>

<template>
  <Page :back="true">
    <h1 v-text="`${contact.firstname} ${contact.lastname}`" />

    <div class="contact-info">
      <h2>Contact info</h2>
      <p>Email: {{ contact.email }}</p>
      <p>Phone: {{ contact.phone }}</p>
      <p>Birthday: {{ contact.birthday }}</p>
      <p>Gender: {{ contact.gender }}</p>
      <p>Website: {{ contact.website }}</p>
      <p>Image: {{ contact.image }}</p>
      <h2>Adres</h2>
      <template v-if="contact.address">
      <p>Street: {{ contact.address.street }}</p>
      <p>Building Number: {{ contact.address.buildingNumber }}</p>
      <p>City: {{ contact.address.city }}</p>
      <p>Country: {{ contact.address.country }}</p>
      <p>County Code: {{ contact.address.county_code }}</p>
      <p>Latitude: {{ contact.address.latitude }}</p>
      <p>Longitude: {{ contact.address.longitude }}</p>
      <p>Street Name: {{ contact.address.streetName }}</p>
      <p>Zipcode: {{ contact.address.zipcode }}</p>
      </template>
    </div>
  </Page>
</template>

<style lang="scss" scoped>

</style>